<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Menú Principal</title>
</head>
<body>
    <h1>Bienvenido al Menú Principal</h1>
    {% if cliente %}
        <h2>{{ cliente.nombre }}</h2>
    {% endif %}
    <hr>
    <a href="{% url 'volasa:vuelos' %}">
        <button>Observar vuelos disponibles</button>
    </a>
    <a href="{% url 'volasa:vuelos' %}">
        <button>Observar historial de vuelos</button>
    </a>
    <a href="{% url 'volasa:logout' %}">
        <button>Cerrar Sesión</button>
    </a>
    {% if cliente %}
        <hr>
        <p>Información Personal:<br/>Nombre: {{ cliente.nombre }}</p>
    {% endif %}
</body>
</html>