<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Menú Principal</title>
</head>
<body>
    <h1>Bienvenido al Menú Principal</h1>
    {% if cliente %}
        <h2>{{ cliente.nombre }}</h2>
    {% endif %}
    <hr>
    <a href="{% url 'volasa:vuelos' %}">
        <button>Observar vuelos disponibles</button>
    </a>
    <a href="{% url 'volasa:historial_vuelos' cliente.id %}">
        <button>Observar historial de vuelos</button>
    </a>
    <a href="{% url 'volasa:logout' %}">
        <button>Cerrar Sesión</button>
    </a>
    {% if cliente %}
        <hr>
        <h2>Información Personal:</h2>
            <p>
                Nombre: {{ cliente.get_full_name }}<br>
                Nombre de Usuario: {{ cliente.get_username }}<br>
                Email: {{ cliente.get_email_field_name }}<br>
                Número de Pasaporte: {{ informacion_cliente.numeroPasaporte }}<br>
                País de Procedencia: {{ informacion_cliente.paisProcedencia }}<br>
            <p>
    {% endif %}
</body>
</html>