<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrar Usuario</title>
</head>
<body>
    <h1>Registrar un Nuevo Usuario</h1>
    <hr>
    <form id="form_RegistroCliente" action="{% url "volasa:register" %}" method="post">
        {% csrf_token %}
        {{ form }}
        <br>
        <input type="submit" value="Registrarse">
        <input type="button" onclick="resetear()" value="Restablecer"><br><br>
    </form>
    <a href="{% url "volasa:login" %}">
        <button>Regresar</button>
    </a>

<script>
function resetear() {
 document.getElementById("form_RegistroCliente").reset();
}
</script>

</body>
</html>