<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Vuelos Disponibles</title>
</head>
<body>
    <h1>Vuelos disponibles</h1>
    <hr>
    {% if vuelos_disponibles %}
        <ul>
        {% for vuelo in vuelos_disponibles %}
            <!--Esto se quedó porque cambié la estructura de los URL's para no tenerlos hardcodeados y tener que
            estar cambiando todos los templates-->
            <!--<li><a href="/volasa/vuelos/{{ vuelo.codigoAvion }}/">{{ vuelo.codigoAvion }}</a></li>-->
            <li><a href="{% url 'volasa:vuelo' vuelo.codigoAvion %}">{{ vuelo.codigoAvion }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No hay vuelos disponibles.</p>
    {% endif %}
</body>
</html>